body {
    padding-top: 70px !important;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

code {
    font-family: 'Source Code Pro';
}

.content {
    max-width: 700px;
    margin: 0;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.8em;
    padding-left: 1em;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.8em;
    padding-left: 1em;
}

.sidebar .menu-root {
    padding-left: 0;
}

.sidebar .menu-sub {
    padding-left: 1em;
    font-size: 0.85em;
}
