body {
    padding-top: 70px !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
}

.content code {
    font-size: 10pt;
}

.content code .code-output {
    color: #999999;
}

.content code .code-dollar {
    display: inline-block;
    margin-right: 10px;
    color: #009900;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.8em;
    padding-left: 1em;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.8em;
    padding-left: 1em;
}

.sidebar .menu-root {
    padding-left: 0;
}

.sidebar .menu-sub {
    padding-left: 1em;
    font-size: 0.85em;
}
