<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projek Buku Git</title>

    <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar col-md-3">
            <ul class="menu-root">
                <li v-for="entry in toc">
                    <a href="#" @click="openPage(entry.slug)">{{ entry.title }}</a>
                    <ul class="menu-sub" v-if="entry.sub && entry.sub.length > 0">
                        <li v-for="sub in entry.sub" :class="{ 'hidden': isNotActiveMenu(entry) }">
                            <a href="#" @click="openPage(sub.slug)">{{ sub.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content col-md-9">
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#" @click="previousPage"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="#" @click="nextPage">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

            <div v-if="content != null">{{{ content | marked }}}</div>
            <div v-else class="jumbotron">
                <h1>Error 404</h1>
                <p>Page Not Found</p>
            </div>

            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#" @click="previousPage"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="#" @click="nextPage">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- script src="lib/markdown.js"></script -->
    <script src="js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="toc.js"></script>
    <script>

(function (toc) { "use strict"
    var vue

    function sanitize(name) {
        return name.substr(2, name.length - 2).trim()
    }

    var glossary = (function () {
        var prev = null
        var glossary = {}

        _.forEach(toc, function (entry) {
            glossary[entry.slug] = {
                title: entry.title,
                prev: prev,
                next: null
            }

            if (prev != null) {
                glossary[prev].next = entry.slug
            }

            prev = entry.slug

            _.forEach(entry.sub, function (sub) {
                glossary[sub.slug] = {
                    title: sub.title,
                    prev: prev,
                    next: null
                }

                if (prev != null) {
                    glossary[prev].next = sub.slug
                }

                prev = sub.slug
            })
        })

        return glossary
    }())

    var vue = new Vue({
        el: 'body',
        filters: {
            marked: marked
        },
        data: {
            glossary: glossary,
            toc: toc,
            content: '',
            page: 'pengenalan'
        },
        ready: function() {
            var page = this.page

            if (window.location.hash != '') {
                page = sanitize(window.location.hash)
            }

            this.openPage(page)
        },
        methods: {
            openPage: function (page) {
                var vm = this
                vm.page = page
                $.get('content/'+page+'.md', function (content) {
                    vm.setPage(page, content)
                }).fail(function () {
                    vm.setPage(page, null)
                })
            },
            setPage: function (page, content) {
                this.page = page
                this.content = content
                document.title = this.glossary[page].title
                window.location.hash = '!'+page
            },
            isActiveMenu: function (entry) {
                return (this.page == entry.slug || _.filter(entry.sub, {'slug': this.page}).length > 0)
            },
            isNotActiveMenu: function (entry) {
                return ! this.isActiveMenu(entry)
            },
            previousPage: function () {
                var url = this.glossary[this.page]
                var page = 'pengenalan'

                if (url.prev != null) {
                    page = url.prev
                }

                this.openPage(page)
            },
            nextPage: function () {
                var url = this.glossary[this.page]
                var page = 'pengenalan'

                if (url.next != null) {
                    page = url.next
                }

                this.openPage(page)
            }
        }
    })
})(toc);
</script>
</body>
</html>
